/* Demo CSS */

* {
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

html, body, .containerHeader {
    min-height: 100vh;
}

body {
    font-size: 11px;
}

table {
    font-size: 13px;
}

.logo {
    width: 450px;
}

.logonav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    min-width: 60vw;
    margin-top: 132px;
}

ul {
    margin: 1px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 8vw 0 8vw;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
}

.navlink {
    text-decoration-line: none;
    color: rgb(175, 175, 175);
    font-size: 1.2rem;
}

.navlink_active {
    color: #000 !important;
}

.navlink:hover {
    text-decoration-line: none;
    color: rgb(80, 80, 80);
}

.textwrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding-top: 50px;
    width: 100%;
    margin: 0 auto;
    height: calc(100% - 50px);
}

.maintext {
    color: rgb(175, 175, 175);
    font-weight: 400;
    /*padding-left: 308px;*/
    /* 160px */
    margin-left: 8vw;
    margin-right: 8vw;
    line-height: 2;
    width: 44vw;
    /* margin-top: 0; */
}

.containerHeader {
    padding-top: 50px;
}

.where-are-we-box {
    position: relative;
    background-color: #bbb;
    padding: 10px 15px;
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0;
    min-width: 450px;
    width: 450px;
    max-width: 450px;
}

.submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    min-width: 450px;
    width: 450px;
    max-width: 450px;
}

.submenu>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.submenu>ul>li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 0 0 30px 0;
}

.submenu>ul>li>a {
    text-decoration-line: none;
    color: #f0a26e;
    font-size: 15px;
}

.active {
    color: #F36A10 !important;
    font-weight: bold;
}

.submenu>ul>li:nth-of-type(1)>a {
    font-size: 2rem !important;
}

.formcontainer {
    max-width:320px;
    width: 100vw;
    margin: 50px auto 0 auto;
    input {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }
    input[type=submit] {
        background: rgba(255, 255, 255, 0);
        margin-bottom: 0;
        border-radius: 10px;
        outline: 1px solid #F58220;
        border: none;
        color: black;
        transition: 0.4s;
        font-size: 1rem;
    }
    input[type=submit]:hover {
        background: #F58220;
        color: white;
        cursor: pointer;
        transition: 0.4s;
    }
    input[type=submit]:active {
        outline: 4px solid #eaba8f;
        color: white;
        transition: 0.4s;
    }
}

input[type=submit].adesign_btn {
    background: rgba(255, 255, 255, 0);
    margin-bottom: 0;
    border-radius: 10px;
    outline: 1px solid #F58220;
    border: none;
    color: black;
    transition: 0.4s;
    font-size: 1rem;
}
input[type=submit].adesign_btn:hover {
    background: #F58220;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
input[type=submit].adesign_btn:active {
    outline: 4px solid #eaba8f;
    color: white;
    transition: 0.4s;
}
button[type=submit].adesign_btn {
    background: rgba(255, 255, 255, 0);
    margin-bottom: 0;
    border-radius: 10px;
    outline: 1px solid #F58220;
    border: none;
    color: black;
    transition: 0.4s;
    font-size: 1rem;
}
button[type=submit].adesign_btn:hover {
    background: #F58220;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
button[type=submit].adesign_btn:active {
    outline: 4px solid #eaba8f;
    color: white;
    transition: 0.4s;
}

.portfolio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.portfolio>h2 {
    width: 100%;
    font-weight: 400;
    text-align: center;
    color: rgb(104, 104, 104);
    margin-top: 0;
}

.portfoliolink {
    min-width: calc(150px * 0.85);
    min-height: calc(150px * 0.85);
    width: calc(42vw / 3 * 0.85);
    height: calc(42vw / 3 * 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.portfoliolink>a {
    width: 80%;
    height: 80%;
    text-decoration-line: none;
    color: rgb(104, 104, 104);
    text-align: center;
}

.portfoliolink>a>img {
    width: 80%;
    height: 80%;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: rgba(128, 128, 128, 0.5); */
    width: 10.35vh;
    height: 9.5vh;
    min-height: 9.5vh;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    border-radius: 10px;
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(255, 165, 0);
    border: 1px solid black;
}

.rows {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 500px;
    height: 500%;
    overflow-y: scroll;
}

.row16 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;
    min-height: 25%;
}

.gallerybox16 {
    width: 20%;
    height: 80%;
    // background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box>img {
    width: 100%;
    cursor: pointer;
}

.closebtn {
    position: relative;
    color: white;
    font-size: 35px;
    cursor: pointer;
    background-color: rgb(170, 0, 0);
    height: 34px;
    padding-top: 1px;
    width: 35px;
    /* margin-left: 461px; old margin */
    /* margin-top: -408px; old margin */
    margin-left: 611px;
    margin-top: -458px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.rows .container {
    display: block;
    position: absolute;
    top: calc(50vh - 128px);
    /* left: calc(50vw - 100px); */
    /* left: 0; */
    right: calc(50vw - 550px);
    width: max-content;
}

.container {
    max-height: 300px;
    z-index: 2;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    /* width: 500px; old width */
    /* height: 450px; old height */
    width: 650px;
    height: 500px;
    margin-left: -500px;
    overflow: hidden;
}

.overflow {
    width: 100%;
    height: 80%;
    /* margin-left: -497px; old margin */
    margin-left: -647px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgholder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-height: 400px;
}

.imholder>img {
    width: 85%;
}

.control {
    height: 150px;
    width: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.35rem;
    cursor: pointer;
}

.control:nth-of-type(1) {
    transform: rotateZ(180deg);
}

.overflow>img {
    width: 100%;
}

.pagecontainer {
    min-height: 300px;
    height: 500px;
}

#expandedImg {
    max-height: 400px;
}

.view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.contactform {
    color: rgb(175, 175, 175);
}

.contactform>input, .contactform>textarea {
    border: 1px solid orange !important;
    width: 15rem;
    margin-bottom: 10px;
    min-width: 262px;
    box-sizing: border-box;
    padding: 10px;
}

.contactform>input[type="submit"], .contactform>input[type="reset"] {
    background-color: #F36A10;
    border: 1px solid #F36A10 !important;
    color: white;
}

.contactform>input[placeholder]::placeholder, .contactform>textarea[placeholder]::placeholder {
    color:lightgrey;
}

.contactanchor {
    text-decoration-line: none;
    color: rgb(175, 175, 175);
    font-weight: bold;
}

.dashboard {
    color: black;
}

form label {
    font-weight: bold;
}

form label, form input {
    display: block;
    margin-bottom: 5px;
    width: 90%
}

form input {
    border: solid 1px #666666;
    padding: 10px;
    border: solid 1px #BDC7D8;
    margin-bottom: 20px
}

.black {
    color: black
}

.previewContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.previewImage {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
    overflow: hidden;
}

.previewImage>img {
    height: 150px;
    width: auto;
}

header {
    background: #FDC830;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0;
}

header>h2 {
    color: white !important;
    width: auto;
    margin: 0;
}

.logoutButton {
    background: #D9534F;
    border-radius: 3px;
    border: 2px solid #D9534F;
    color: white;
}

.logoutButton:hover {
    background: #c94b47;
    border: 2px solid #c94b47;
}

.logoutButton:active {
    background: #C9302C;
    border: 2px solid #C9302C;
    outline: tomato;
}

@media only screen and (max-width: 1150px) {
    .containerHeader {
        padding-top: 0;
    }
    .logonav {
        justify-content: flex-start;
    }
    nav>ul {
        flex-direction: column;
    }
    nav>ul>li {
        margin: 5px 0;
    }
    .empty {
        min-width: 0;
    }
    .portfoliolink {
        margin: 0 0 55px 2px;
    }
    .pagecontainer {
        height: auto !important;
        transform: scale(0.45);
        margin-left: -105px;
    }
}

@media only screen and (max-width: 768px) {
    .textwrapper {
        flex-direction: column !important;
        padding-top: 0;
    }
    .logonav {
        flex-direction: column;
    }
    .logo {
        width: 314px;
        margin-left: 3px;
        margin-right: 3px;
    }
    nav {
        width: 100%;
        margin-top: 0;
    }
    .empty {
        width: 100%;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
    .aboutImage {
        margin-top: 0 !important;
    }
    .maintext {
        width: calc(100% - 16vw);
        margin-bottom: 50px;
    }
    .submenu {
        width: 100% !important;
        min-width: 0 !important;
        margin: 0 auto;
    }
    .submenu>ul {
        padding: 0;
    }
    .submenu>ul>li {
        padding: 0;
        align-items: center;
    }
}

@media only screen and (max-width: 500px) {
    .portfolio {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
    .portfoliolink {
        min-width: calc(150px);
        min-height: calc(150px);
        width: calc(42vw / 3);
        height: calc(42vw / 3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .portfoliolink>a {
        width: 95%;
        height: 95%;
        text-decoration-line: none;
        color: rgb(104, 104, 104);
        text-align: center;
    }
    .portfoliolink>a>img {
        width: 90%;
        height: 90%;
    }
}

@media only screen and (max-width: 420px) {
    .logonav {
        align-items: flex-start;
    }
    nav>ul {
        align-items: flex-start;
    }
    nav>ul>li {
        margin: 15px 0;
    }
    nav {
        margin-top: 0;
    }
}